/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,400i,500,600,600i,700,900&display=swap');

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus,
input:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #231f20;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #231f20;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: RusticLoveTattoo;
  src: url(../fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a:hover {
  text-decoration: none
}



/* Headertop section start */

.headertoparea {
  background: #2A3B49;
  padding: 10px 0;
  margin-bottom: 12px;
}

.headertopmain {
  display: flex;
  align-items: center;
}

.headertopadmin ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headertopadmin ul li {
  display: inline-block;
}

.headertop-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headertop-contact ul li {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.headertopadmin ul li a {
  font-size: 14px;
  color: #c6d3de;
  font-weight: 500;
}

.headertopadmin li.active1 a {
  color: #feffff;
  background: #00a651;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 4px;
}

.headertopadmin {
  margin-right: 40px;
}

.headertopadmin span {
  margin: 0 5px;
}

li.clock1 {
  position: relative;
  margin-left: 7px;
  padding-left: 12px;
}

.headertop-contact ul li img {
  margin-right: 10px;
}

/* Header area  start */
.headerarea {
  display: flex;
  align-items: center;
  height: 76px;
}

.headerleft {
  display: flex;
  align-items: center;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu ul li {
  display: inline-block;
}

.headerright.text-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerright.text-right ul li {
  display: inline-block;
}

.headerright {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.headerright ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerright ul li {
  display: inline-block;
}

.mainmenu ul li a {
  display: inline-block;
  margin-left: 30px;
  font-size: 16px;
  color: #858585;
  font-weight: 700;
}

.mainlogo {
  margin-right: 12px;
}

.mainmenu ul li a:hover {
  color: #2390dc;
}

.headerright ul li a {
  display: inline-block;
  background: #2390dc;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 6px;
}

.headerright li.account1 a {
  background: #f46d20;
  margin-left: 6px;
}


/* Header area  END */



/* hero area  start */


.sendbox a {
  display: block;
  padding: 7px 12px;
}

.sendbox {
  height: 294px;
  overflow-y: auto;
}

.sendbox img {
  width: 40px;
}


.heroleft {
  background: #fff;
  padding: 8px 0px;
  border-radius: 8px;
  position: relative;
  z-index: 22;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heroarea {
  background: linear-gradient(-45deg, #00B3EF, #08A033, #08A033, #00B3EF);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  position: relative;
  padding-bottom: 48px;
}


.herobigshape {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 92%;
  transform: translate(4%, 8%);
}

.sendtext p {
  margin-bottom: 0;
  font-size: 14px;
  color: #575c60;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
}


.header-area {
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.sendtext p {
  font-weight: 900;
  color: #393939;
  font-size: 20px;
  text-transform: capitalize;
}

.sendbox a:hover {
  background: #cee4f2;
}

.sendtext {
  padding: 0px 12px;
}

.sendbox span {
  font-size: 14px;
  font-weight: 700;
  padding-left: 8px;
  color: #4f4f4f;
}

.herotitle h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  margin: 40px 0;
  font-family: 'Exo', sans-serif;
}


.rightbkashwrap {
  display: flex;
  align-items: center;
}

.rightbkasboxs {
  display: flex;
  align-items: center;
  width: 100%;
}

.bkashtk span {
  padding-left: 0;
}

.bkashtk p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #898989;
}

.bkashtk {
  padding-left: 8px;
}

.buttons button {
  background: #dfdfdf;
  border: none;
  padding: 8px 17px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
}

.sendbox.rightsend a:hover {
  background: #CEE4F2;
}

.sendbox.rightsend a:hover button {
  background: #037b77;
  color: #fff;
}


.col-12.static {
  position: static;
}






/* hero area  END */



/* security area  start */


.securitybox {
  text-align: center;
  background: #DAF2E5;
  margin-top: 52px;
  border-radius: 8px;
  height: 262px;
}

.securityarea {
  padding: 48px 0;
}

.securitytitle.text-center h1 {
  font-size: 50px;
  font-weight: 800;
  color: #231f20;
  font-family: 'Exo',
    sans-serif;
}

.securitybox.securitybox2 {
  background: #D9F4FA;
}

.securityicon img {
  margin-top: -38px;
}

.securitycontent {
  padding: 28px 82px;
}

.securitycontent p {
  margin-bottom: 0;
  color: #231f20;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.securitycontent h4 {
  font-weight: 800;
  font-size: 25px;
  color: #231f20;
  font-family: 'Exo', sans-serif;
}


/* security area  END */


/* customerarea section  start */



.single-custom {
  text-align: center;
  padding: 0px 66px;
  border-right: 1px solid #dcdcdc;
}

.custom-text h3 {
  font-size: 25px;
  font-weight: 800;
  color: #282828;
  font-family: 'Exo', sans-serif;
}

.custom-text p {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  line-height: 27px;
}

.custom-area {
  background: #f4f4f4;
  padding: 30px 0;
}

.custom-area.whitebg1 {
  background: #fff;
}

.custom-text {
  margin-top: 24px;
}

.single-custom.custombo {
  border-right: 0px;
}

/* customerarea section  END */

/* planning section  startr */
.singleplaningcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 205px;
  position: relative;
  z-index: 1;
}

.singleplaning {
  text-align: center;
}

.singleplaning p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
}

.singleplaningcontent.akashi::after {
  opacity: .20;
}

.singleplaningcontent::after {
  background: #0F0F0F;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .10;
  z-index: -1;
}

.planing-area {
  background: linear-gradient(to right bottom, #FF4A30, #FF9903);
  padding: 65px 0;
}

.singleplaningcontent:hover img {
  transform: rotate(360deg);
}

.singleplaningcontent img {
  transition: .3s;
}

.services-title.planningtitle h1 {
  color: #fff;
}

.services-title h1 {
  color: #231f20;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 42px;
  font-family: 'Exo', sans-serif;

}



/* planning section  END */



/* footer section  start */


.footerarea {
  background: #353535;
  position: relative;
  padding-top: 90px;
  z-index: 1;
}

.footerarea::after {
  content: "";
  background-image: url(../img/footer-shape.png);
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.copyright-text {
  margin-top: 45px;
  padding: 20px 0px;
  background: #2A2A2A;
  color: #535353;
  position: relative;
  z-index: 2;
}

.copyright-text a {
  color: #5E5E5E;
  font-weight: 600;
}

.footerlogo {
  display: flex;
}

.address {
  padding-top: 10px;
}

.footerlogomain {
  margin-right: 28px;
}

.address a {
  display: inline-block;
  margin-left: 6px;
}

.address a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.address img {
  transform: translateY(-3px);
}

.footershape ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footershape ul li {
  display: inline-block;
}

.footershape ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #acb4b7;
  display: inline-block;
  margin: 0 15px;
}

.footershape {
  text-align: center;
}


.footersocial ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footersocial ul li {
  display: inline-block;
}

.footercontactwraps {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.footercontact a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: #FF5C25;
  display: inline-block;
  padding: 13px 35px;
  border-radius: 6px;
  margin-left: 25px;
}


.footersocial ul li a {
  font-size: 16px;
  color: #acb4b7;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  display: block;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
}

.footersocial ul li a:hover {
  background: #FF5C25;
  color: #fff;
  border-color: transparent;
}


.footersocial ul li.youtubea a:hover {
  background: #F20202;
}

.footercontact a:hover {
  background: #bd3608;
}



.headerright ul li a:hover {
  background: #0076c9;
}




.headerright li.account1 a:hover {
  background: #e65a0b;
}



.footershape ul li a:hover {
  color: #e65a0b;
}




.footershapewrap {
  position: relative;
}

.footertextt {
  margin-top: 62px;
  text-align: center;
}

.footertextt p {
  margin-bottom: 0;
  color: #527591;
  font-size: 14px;
  font-weight: 400;
}

.footershapesd {
  position: relative;
  z-index: 22;
}

/* Header bar section start */

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu ul li {
  display: inline-block;
  margin-right: 40px;
}

.main-menu ul li a {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  transition: .3s;
}

.main-menu ul li a:hover {
  color: #02AEA8;
}


.log-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.log-info ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 9px 15px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  transition: .3s;
  background: #FF5C25;
}

.log-info ul li a.black-text {
  color: #fff;
  background: #02AEA8;
}

.log-info ul li a:hover {
  color: #fff;
  background: #C2023F;
  border: transparent;
}

.log-info ul li a:hover {
  color: #fff;
  background: #c53909;
}

.log-info ul li a.black-text:hover {
  background: #037b77;
}



.main-menu-fills {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: 43px;
}

.icofont-coffee-cup::before {
  content: "\eb56";
}

.log-info ul li {
  display: inline-block;
  margin-left: 14px;
}


/*login-css*/

.for-loginmethod .modal-dialog {
  width: 400px;
}


.for-loginmethod .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  padding: 2px 0;
  border-bottom: 0px;
}




.modal-body.customlogooo {
  padding: 0 0 !important;
  padding-bottom: 54px !important;
}


.try-thisfield.got.got-bg a {
  width: 164px;
  margin: auto;
  border-radius: 32px;
  padding: 14px 0;
}

.try-thisfield.got.got-bg {
  margin-top: 48px;
}





.next-logo {
  background: url(../img/logoneed-bg.png);
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}



.for-loginmethod .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 0 !important;
  padding: 32px;
  text-align: center;
}

.for-loginmethod .modal-header .close {
  padding: 6px 16px;
  margin: 0px;
}

.for-loginmethod .modal-content {
  position: relative;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}








.login-content h4 {
  font-size: 25px;
  font-weight: 900;
  color: #2c2d35;
  margin-bottom: 22px;
}

.connect-facebook a {
  background: #4B67A8;
  padding: 12px;
  border-radius: 6px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.login-us input {
  width: 100%;
  background: #fff;
  border: none;
  padding: 10px 14px;
  margin-top: 12px;
  border-radius: 6px;
  color: #8f8f8f;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent
}

.try-thisfield a {
  display: block;
  color: #2c2d35;
  font-weight: 500;
  font-size: 16px;
}

.try-thisfield {
  margin-top: 15px;
}

.log-into span {
  color: #2c2d35;
  font-size: 16px;
  font-weight: 400;
}

.log-into span a {
  font-size: 16px;
  font-weight: 700;
  color: #2390DC;
}

.try-thisfield a.logs1 {
  background: #2390dc;
  color: #fff;
  padding: 8px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 12px;
}

.connect-facebook a i {
  color: #4B67A8;
  background: #fff;
  width: 22px;
  height: 24px;
  line-height: 24px;
  margin-right: 11px;
}


/*login-css*/





/*successful-css*/

.login-content.next-h4 p {
  font-size: 15px;
  font-weight: 400;
  color: #3e4041;
  margin-bottom: 0;
}

.call-usw p a {
  color: #2c2d35;
  font-weight: 700;
  font-size: 16px;
}

.try-thisfield.got a {
  background: #2E2F38;
}

.for-loginmethod.this1-hide.activeee {
  visibility: hidden;
  opacity: 0;
}

.login-us.trxid input {
  border: 1px solid #E1E1E1;
}

.send-money.owl-carousel .owl-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rocket-by p {
  margin-bottom: 9px !important;
}

.send-money.owl-carousel .owl-nav button i {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #a0a0a0;
}









.send-money.owl-carousel .owl-nav i {
  font-size: 27px;
  color: #a0a0a0;
}




.send-money .owl-dots {
  display: none;
}



.price span {
  font-size: 29px;
  font-weight: 700;
  color: #2c2d35;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price img {
  width: 21px;
  margin-top: -3px;
}

.niceselect-for .nice-select {
  width: 100%;
  border: transparent;
  background: #fff;
}

.niceselect-for .nice-select.open .list {
  width: 100%;
}

.rocket-by p {
  color: #2c2d35 !important;
  font-weight: 400 !important;
}

.rocket-by a.bkashh1 {
  color: #e3106e;
  font-weight: 700;
}

.rocket-by a.rocketts {
  color: #790381;
  font-weight: 700;
}

.try-thisfield.got.red-submit a {
  background: #E3004A;
}



/*successful-css*/




/*sidemenu-css*/


.menu-icon i {
  font-size: 29px;
  cursor: pointer;
}


.sidemenuw ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidemenuw ul li {
  display: block;
  margin-left: 0 !important;
}

.sidemenuw ul li a {
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  display: block;
  width: 100%;
  transition: .3s;
  border-bottom: 1px solid #888;
  border-radius: 0px;
  padding: 6px 0px;
}

.sidemenuw ul li a:hover {
  background: transparent;
  color: #E30048;
  border-bottom: 1px solid #888;
}

.sideline {
  position: absolute;
  right: 15px;
  top: 11px;
}

.menu-icon {
  background: #333;
  padding: 3px 12px;
}

.menu-icon i {
  color: #f5f5f5;
}

.main-menu li a {
  color: #646464 !important;
  position: relative;
  padding: 29px 0px;
}

.main-menu li a:hover {
  color: #02AEA8 !important;
}

.main-menu li a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: #02AEA8;
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.main-menu li a::after {
  opacity: 0;
  transition: .2s;
  visibility: hidden;
  width: 0;
}

.heroarea {
  overflow: hidden;
}

.heroarea::after,
.heroarea::before {
  background-image: url(../img/hero-left.png);
  left: 0px;
  top: 0;
  content: "";
  width: 323px;
  height: 422px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: center;
  background-position: left bottom;
  transform: translateX(-80px);
}

.heroarea::before {
  background-image: url(../img/hero-right.png);
  left: auto;
  right: 0px;
  transform: translateX(80px);
}

.securityicon img {
  transform: scale(1);
  transition: .1s;
}

.securitybox:hover .securityicon img {
  transform: scale(1.2);
}

.login-us input:focus {
  border: 1px solid #0076C9;
  border-radius: 6px;
}

.custom-area {
  padding: 65px 0;
}

.random-notification {
  color: #fff;
}

.services-title h1 {
  margin-bottom: 60px;
  font-family: 'Exo',
    sans-serif;
  font-weight: 800;
}

/* innerpage css */
.compare-rate-area {
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-ms-keyframes animatedBackground {
  from {
    background-position: 0 bottom;
  }

  to {
    background-position: 100% bottom;
  }
}

@-moz-keyframes animatedBackground {
  from {
    background-position: 0 bottom;
  }

  to {
    background-position: 100% bottom;
  }
}

.compare-rate-area::after {
  background-image: url(../img/hero-shape-1.png);
  content: "";
  height: 460px;
  left: 0%;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background-position: bottom;
  background-repeat: repeat-x;
  animation: animatedBackground 20s linear infinite;
  -ms-animation: animatedBackground 20s linear infinite;
  -moz-animation: animatedBackground 20s linear infinite;
  -webkit-animation: animatedBackground 20s linear infinite;

}

.compare-rate-area .heading-title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  font-family: 'Exo',
  sans-serif;
}


.compare-box-area .title {
  font-size: 20px;
  text-align: left;
  font-family: 'Exo',
  sans-serif;
}

.compare-boxs {
  display: flex;
  flex-wrap: wrap;
}

.compare-box {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.compare-box .icon {
  flex-basis: 15%;
}

.compare-box .content {
  flex-basis: 85%;
}


.compare-box .content label,
.compare-box .content span {
  display: block;
  margin: 0;
  color: #898989;
  font-size: 14px;
}

.compare-box .content label {
  margin-top: 10px;
}

.compare-box .content input {
  width: 100%;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  padding: 8px 12px;
  color: #646464;
}

.compare-box .content input::placeholder {
  color: #646464;
  font-weight: 600;
}

.compare-box .content span {
  font-size: 14px;
}

.compare-boxs .compare-box:first-child {
  padding-right: 15px;
}

.compare-boxs .compare-box:last-child {
  padding-left: 15px;
}

.compare-box-area,
.transition-info {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
}

.compare-box .icon img {
  width: 45px;
  height: 45px;
}

.compare-box-area .title {
  margin-bottom: 25px;
}

.compare-box .content input {
  border-radius: 6px;
}

.compare-box .content span {
  margin-top: 5px;
}

.transition-info .title {
  font-size: 20px;
}

.transition-info {
  margin-top: 20px;
  padding: 20px 18px;
}

.compare-rate-area {
  padding: 45px 0;
  padding-bottom: 90px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.compare-rate-area .heading-title {
  margin-bottom: 40px;
}

.transition-info form {
  display: flex;
}

.transition-info form input {
  flex-basis: 38%;
  border: 2px solid #E1E1E1;
  padding: 10px 12px;
  border-radius: 6px;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
}

.transition-info form input[type=submit] {
  background: #FF5C25;
  border-color: transparent;
  color: #fff;
  transition: .2s;
  flex-basis: 25%;
  cursor: pointer;
  padding: 7px 12px;
  font-size: 18px;
}

.transition-info form input[type=submit]:hover {
  background: #bd3608;
}

.transition-info form input[type=text] {
  margin-right: 15px;
  margin-left: 15px;
}

.compare-rate-area input:focus {
  border-color: #0AA7DE;
}

.transition-info form input::placeholder {
  color: #898989;
}

.how-to-exchange-area {
  padding-top: 70px;
  padding-bottom: 35px;
  color: #fff;
  background: #074E93;
}

.how-to-exchange-area .title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.how-to-list span {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #F89021;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.how-to-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  padding-top: 30px;
}

.how-to-list ul li {
  margin: 15px 0;
}

.how-to-list {
  text-align: center;
}

.footersocial ul li:not(:first-child) {
  margin-left: 25px;
}

.modal-dialog {
  margin-right: 0px;
  margin-left: 0px;
}

.for-loginmethod .modal-content {
  display: flex;
  justify-content: center;
  width: 400px;
}

.for-loginmethod .modal-dialog {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.modal {
  padding-right: 0px !important;
}

.modal[style] {
  padding-right: 0px;
}

.modal-dialog {
  margin: 0px !important;
}

/* partner area css */
.single-partner img {
  width: auto !important;
}

.single-partner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 25px;
}

.partner-area {
  padding: 50px 0;
}

.partner-area .services-title h1 {
  color: #231F20;
  margin-bottom: 50px;
}

.how-to-exchange-area.inner {
  background: #2A3B49;
}

.compare-box .content span i {
  transform: rotate(180deg);
}